@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
@import '_fonts';
@import '_variables';

@import '../components/header/header';
@import '../components/home/characterList.scss';
@import '../components/create-character/createCharacter.scss';

hr {
  margin-left: 5vw;
  margin-right: 5vw;
  border-color: lightgrey;
}

h1 {
  font-size: 2.6em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 2em;
}

.nav {
  margin-bottom: 20px;
  font-weight: 700;
}

.txt-align-center {
  text-align: center;
}

.panel-heading {
  font-size: 1.5em;
}
.panel-body {
  color: darkslategrey;
}

.mobile-only {
  display: none;
}
.no-double-click {
  display: inline;
}

.edit-team-name-btn {
  font-size: 0.6em!important;
  font-weight: bold;
  font-style: normal;
  padding: 0 10px;
}

@include mobile {
  body {
    font-size: 3em;
  }
  h1, h2, h3 {
    margin-bottom: 40px;
  }
  .btn,
  .panel-title {
    font-size: 1em;
  }

  .mobile-only {
    display: inline;
  }
}
